body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilisation de la hauteur de la vue (viewport height) pour centrer verticalement */
    background-color: #f5f5f5; /* Couleur de fond */
    margin: 0; /* Suppression des marges par défaut */
}

.chatbot-container {
    width: 100%;
    max-width: 500px; /* Largeur maximale de la fenêtre du chatbot */
    background-color: #000000; /* Couleur de fond */
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#chatbot {
    background-color: #000000; /* Couleur de fond */
    border: 1px solid #eef1f5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#header {
    background-color: #298ED6; /* Couleur de fond de l'en-tête */
    color: #000000; /* Couleur du texte de l'en-tête */
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
}

message-container {
    background: #000000; /* Couleur de fond de la zone de message */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conversation {
    overflow-y: auto; /* Barre de défilement vertical si le contenu dépasse */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les messages */
}

@keyframes message-fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chatbot-message {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 80%; /* Largeur maximale des messages */
    padding: 10px 15px; /* Réduire la marge */
}

.user-message {
    justify-content: flex-end;
}

.chatbot-text {
    color: #000000; /* Couleur du texte du message */
    font-size: 1.1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF; /* Couleur de fond des messages */
}

#input-form {
    display: flex;
    align-items: center;
    border-top: 1px solid #eef1f5;
}

#input-field {
    flex: 1;
    height: 60px;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    background: #FFFFFF; /* Couleur de fond de la zone de texte */
    color: #000000; /* Couleur du texte de la zone de texte */
    border: none;
}

#submit-button {
    background-color: transparent;
    border: none;
}

p[sentTime]:hover::after {
    content: attr(sentTime);
    position: absolute;
    top: -3px;
    font-size: 14px;
    color: gray;
}

.chatbot p[sentTime]:hover::after {
    left: 15px;
}

.user-message p[sentTime]:hover::after {
    right: 15px;
}
